*{
    margin: 0 auto;
}
.container{
    background-color: aquamarine;
    box-sizing: border-box;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    text-align: center;
    padding: 30px 100px 60px 100px ;
    .title{
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        font-size: 24pt;
        color: cadetblue;
    }
    .ques{
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        height: 40%;
        border-radius: 10px 10px 0 0 ;
        text-align: center;
        color: blueviolet;
        input{
            width: 70px;
            border-radius: 5px;
        }
        #anser{
            background-color: green;
            color:#fff;
            border-radius: 5px;
        }
        
    }
    .replyZone{
        background-color: #fff;
        width: 100%;
        height: 50%;
        border-radius: 0 0 10px 10px;
        text-align: start;
        overflow: auto;
        #reply{
            font-size: 14pt;
            padding: 0 5%;
        }
    }
}