$baseWidth:25px;

*{ 
    margin: 0 auto;
    font: 1em sans-serif;
}
form{
    padding-top: 10%;
    margin-top: 1vw;
    background-color: rgb(173, 173, 173);
    width: 30*$baseWidth;
    height: 25*$baseWidth;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black,-5px -5px 20px black,-5px 5px 20px black,5px -5px 20px black;
    text-align: center;
    h1{
        font-size: $baseWidth;
    }
    .LandI{
        text-align: left;
        width: 10*$baseWidth;
        input{
            width: 10*$baseWidth;
            &::placeholder{
                color:rgb(197, 168, 255);
            }
        }
    }
    .CheckAndSign{
        width: 10*$baseWidth;
        display: flex;
        justify-content: center;
        text-align: end;
        span{
            text-align: center;
            font-size: larger;
            left: -50px;
        }
        .checkbox{
            width: $baseWidth;
            height: $baseWidth;
        }
        .btn{
            width: 7*$baseWidth;
            height: 1.5*$baseWidth;
            margin-left:50% ;
            transform: translateX(-50%);
            &:hover{
                transform: scale(1.2);
                color:black;
                background-color: #fff;

            }
        }
        .CheckAndSign{
            display: flex;
            justify-content: space-around;
        }
    }
    .btn{
        width: 6*$baseWidth;
    }
}